@import "../../../styles/variables";

.header {
  background-color: $prussian-blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footer-header-height;
  padding: 0 1.313rem 0 2.25rem;

 h1 {
    font-size: 2rem;
    font-weight: $font-weight-light;
    color: $white;
  }

  .logoHeader {
    height: 2rem;
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 3rem;
    }

    .logoHeader {
      height: 41px;
    }
  }
}