$white: #FFFFFF;
$black: #000000;
$athens-gray: #F4F5F8;
$dove-gray: #707070;
$school-bus-yellow: #FFE000;
$button-hover: #FCD400;
$prussian-blue: #003C55;
$error-color: red;

$font-family-light: 'OpenSans-Light';
$font-weight-light: 300;

$font-family-regular: 'OpenSans-Regular';
$font-weight-regular: 400;

$font-family-medium: 'OpenSans-Medium';
$font-weight-medium: 500;

$font-family-medium: 'OpenSans-SemiBold';
$font-weight-medium: 600;

$font-family-bold: 'OpenSans-Bold';
$font-weight-bold: 700;

$font-family-bold: 'OpenSans-ExtraBold';
$font-weight-bold: 800;

$max-content-width: 85.875rem;
$footer-header-height: 7.118rem;