@import "./styles/variables";

body {
  // min-height: 100vh;
  // min-height: 100dvh;

  font-family: $font-family-regular;
  font-weight: $font-weight-regular;

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
  }
}
